<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>Cadastro de pacientes</ion-title>
      <ion-buttons slot="end">
          <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <mat-spinner *ngIf="carregando"></mat-spinner>
  <mat-card *ngIf="!carregando">
    <mat-card>
      <h3>Cadastrar novo paciente</h3>
    </mat-card>
    <form [formGroup]="form" (submit)="onCadastrarPaciente()" margin-top="5px">
       <div class="formfield"> 
        <mat-form-field appearance="outline">
          <input
            matInput
            formControlName="nome"
            type="text"
            placeholder="Nome do paciente"
            required
          />
          <mat-error *ngIf="(nomepaciente.dirty || nomepaciente.touched) && nomepaciente.invalid"
            >Campo obrigatório</mat-error
          >
        </mat-form-field>
      </div>
      <div class="formfield">
        <mat-form-field appearance="outline">
          <input
            matInput
            formControlName="matricula"
            type="number"
            placeholder="Matrícula"
            required
          />
          <mat-error *ngIf="(matriculapaciente.dirty || matriculapaciente.touched) && matriculapaciente.invalid"
            >Matricula inválida</mat-error
          >
        </mat-form-field>
      </div>
      <div class="formfield">
        <mat-form-field appearance="outline">
          <input
            matInput
            formControlName="dataNascimento"
            type="date"
            placeholder="Data de nascimento"
            required
            display-format="DD/MM/YYYY"
          />
          <mat-error *ngIf="(datanascimento.dirty || datanascimento.touched) && datanascimento.invalid"
            >Formato de data errado</mat-error
          >
        </mat-form-field>
      </div>
      <div class="formfield">
        <mat-form-field appearance="outline">
          <input
            matInput
            formControlName="dataInternacao"
            type="date"
            placeholder="Data da internação"
            required
            display-format="DD/MM/YYYY"
          />
          <mat-error *ngIf="(datainternacao.dirty || datainternacao.touched) && datainternacao.invalid"
            >Formato de data errado</mat-error
          >
        </mat-form-field>
      </div>
      <div class="formfield">
        <mat-form-field appearance="outline">
          <textarea
            matInput
            formControlName="patologia"
            type="text"
            placeholder="Patologia(as) do paciente"
            required
        >
          <mat-error *ngIf="(patologiia.dirty || patologiia.touched) && patologiia.invalid"
            >Campo obrigatório</mat-error
          >
        </textarea>
        </mat-form-field>
      </div>
      <div class="formfield">
        <mat-form-field appearance="outline">
          <textarea
            matInput
            formControlName="comorbidades"
            type="text"
            placeholder="Comorbidades do paciente"
            required
        >
          <mat-error *ngIf="(comorbidadees.dirty || comorbidadees.touched) && comorbidadees.invalid"
            >Campo obrigatório</mat-error
          >
        </textarea>
        </mat-form-field>
      </div>
      <ion-button expand="block" color="primary" type="submit">
        Cadastrar paciente
      </ion-button>
    </form>
  </mat-card>
  