<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
                <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Estágios da Lesão</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
<mat-card>
    <mat-card-header>
      <mat-card-title>Estágio 1</mat-card-title>
      <mat-card-subtitle>Perda parcial da espessura da pele</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h3>Estágio 2</h3>
        Perda parcial da espessura da derme, que se apresenta como uma ferida
superficial (rasa) com leito vermelho – rosa sem esfacelo. Pode também se apresentar
como flictena fechada ou aberta, preenchida por líquido seroso ou sero-hemático.
Apresenta-se ainda, como uma úlcera brilhante ou seca, sem crosta ou equimose (um
indicador de lesão profunda).<br>
As características deste estágio não devem ser confundidas com fissuras de pele,
queimaduras por abrasão, dermatite associada à incontinência, maceração ou escoriações
    </mat-card-content>
</mat-card>
</ion-content>