<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
                <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Ajuda</ion-title>
        <ion-buttons slot="end">
                <ion-menu-button autoHide="false"></ion-menu-button>
            </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
<mat-card>
    <mat-card-header>
      <mat-card-title>Percepção Sensorial</mat-card-title>
      <mat-card-subtitle>Capacidade de reação significativa ao desconforto</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h4>1. Completamente limitada: </h4>
        Não reage a estímulos dolorosos (não
        geme, não se retrai nem se agarra a nada)
        devido a um nível reduzido de
        consciência ou à sedação, OU capacidade
        limitada de sentir a dor na maior parte do
        seu corpo.
        <h4>2. Muito limitada: </h4>
        Reage unicamente a estímulos dolorosos.
        Não consegue comunicar o desconforto,
        excepto através de gemidos ou inquietação,
        OU tem uma limitação sensorial que lhe
        reduz a capacidade de sentir dor ou
        desconforto em mais de metade do corpo.
        <h4>3. Ligeiramente limitada:</h4>
        Obedece a instruções verbais, mas nem
        sempre consegue comunicar o
        desconforto ou a necessidade de ser
        mudado de posição, OU
        tem alguma limitação sensorial que lhe
        reduz a capacidade de sentir dor ou
        desconforto em 1 ou 2 extremidades. 
        <h4>4. Nenhuma limitação: </h4>
        Obedece a instruções verbais.
        Não apresenta déficit sensorial
        que possa limitar a capacidade
        de sentir ou exprimir dor ou
        desconforto.
    </mat-card-content>
</mat-card>
</ion-content>