<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ficha Avaliação de Risco</ion-title>
  </ion-toolbar>
</ion-header>

<mat-card>
  <mat-card class="spacep">
    <h3>Preencha a ficha de acordo com a escala de Bradem</h3>
  </mat-card>
  <form [formGroup]="form" (submit)="onSalvarFicha()">
    <div class="formfield">
      <mat-form-field>
        <!---<ion-label position="stacked">Nome do paciente</ion-label>-->
        <input matInput type="text" placeholder="Nome do paciente" formControlName="nomePaciente" required>
        <mat-error *ngIf="form.get('nomePaciente').invalid">Favor digitar o nome do paciente.</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field>
      <!--<ion-label position="stacked">Matrícula</ion-label>-->
      <input matInput type="number" placeholder="Matrícula" formControlName="matriculaPaciente" required>
      <mat-error *ngIf="form.get('matriculaPaciente').invalid">Favor digitar a matrícula do paciente.</mat-error>
    </mat-form-field>
    <div>
      <mat-form-field>
        <!--<ion-label position="stacked">Leito</ion-label>-->
        <input matInput type="date" placeholder="Data de internação" formControlName="dataInternacao" required>
        <mat-error *ngIf="form.get('dataInternacao').invalid">Favor digitar a data de internação.</mat-error>
      </mat-form-field>
      </div>
    <div>
    <mat-form-field>
      <!--<ion-label position="stacked">Leito</ion-label>-->
      <input matInput type="number" placeholder="Número do leito" formControlName="leitoPaciente" required>
      <mat-error *ngIf="form.get('leitoPaciente').invalid">Favor digitar leito do paciente.</mat-error>
    </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="date" placeholder="Data" display-format="DD/MM/YYYY" formControlName="dataFichaPaciente" required>
        <mat-error *ngIf="form.get('dataFichaPaciente').invalid">Favor entrar com a data da avaliação.</mat-error>
      </mat-form-field>
    </div>

    <ion-item>
      <ion-label>Percepção Sensorial</ion-label>
      <ion-select (ionChange)="selectChangeHandlerPercpSens($event)" value="percepSens" name="percepSens"
        [interfaceOptions]="itemFichaPercepSens" interface="popover">
        <ion-select-option value="1">1- Totalmente Limitada</ion-select-option>
        <ion-select-option value="2">2- Muito Limitada</ion-select-option>
        <ion-select-option value="3">3- Levemente Limitada</ion-select-option>
        <ion-select-option value="4">4- Nenhuma Limitação</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Umidade</ion-label>
      <ion-select (ionChange)="selectChangeHandlerUmidade($event)" value="umidade" name="umidade"
        [interfaceOptions]="itemFichaUmidade" interface="popover">
        <ion-select-option value="1">1- Completamente Molhada</ion-select-option>
        <ion-select-option value="2">2- Muito Molhada</ion-select-option>
        <ion-select-option value="3">3- Ocasionalmente Molhada</ion-select-option>
        <ion-select-option value="4">4- Raramente Molhada</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Atividade</ion-label>
      <ion-select (ionChange)="selectChangeHandlerAtividade($event)" value="atividade" name="atividade"
        [interfaceOptions]="itemFichaAtividade" interface="popover">
        <ion-select-option value="1">1- Acamado</ion-select-option>
        <ion-select-option value="2">2- Confinado à cadeira</ion-select-option>
        <ion-select-option value="3">3- Caminha ocasionalmente</ion-select-option>
        <ion-select-option value="4">4- Anda frequentemente</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Mobilidade</ion-label>
      <ion-select (ionChange)="selectChangeHandlerMobilidade($event)" value="mobilidade" name="mobilidade"
        [interfaceOptions]="itemFichaMobilidade" interface="popover">
        <ion-select-option value="1">1- Totalmente Imóvel</ion-select-option>
        <ion-select-option value="2">2- Bastante Limitada</ion-select-option>
        <ion-select-option value="3">3- Levemente Limitada</ion-select-option>
        <ion-select-option value="4">4- Nenhuma Limitação</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Nutrição</ion-label>
      <ion-select (ionChange)="selectChangeHandlerNutricao($event)" value="nutricao" name="nutricao"
        [interfaceOptions]="itemFichaNutricao" interface="popover">
        <ion-select-option value="1">1- Muito Pobre</ion-select-option>
        <ion-select-option value="2">2- Provavelmente Inadequada</ion-select-option>
        <ion-select-option value="3">3- Adequada</ion-select-option>
        <ion-select-option value="4">4- Excelente</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Fricção e Cisalhamento</ion-label>
      <ion-select (ionChange)="selectChangeHandlerFricCis($event)" value="fricscisal" name="fricscisal"
        [interfaceOptions]="itemFichaFricaoCisalh" interface="popover">
        <ion-select-option value="1">1- Problema</ion-select-option>
        <ion-select-option value="2">2- Problema em potencial</ion-select-option>
        <ion-select-option value="3">3- Nenhum Problema</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <p><span>Score: </span><b>{{score}}</b></p>
    </ion-item>

    <p *ngIf="score > 18"
    >Fora de risco (+ q 16)</p>

    <p *ngIf="score >= 15 && score <= 18 
    && scorePercepSens >= 1
    && scoreUmidade >= 1
    && scoreAtividade >= 1
    && scoreNutricao >= 1
    && scoreMobilidade >= 1
    && scoreFricCis >= 1"
    >Risco baixo (15 a 18 pontos)</p>

    <p *ngIf="score >= 13 && score <= 14 
    && scorePercepSens >= 1
    && scoreUmidade >= 1
    && scoreAtividade >= 1
    && scoreNutricao >= 1
    && scoreMobilidade >= 1
    && scoreFricCis >= 1"
    >Risco moderado (13 a 14 pontos)</p>

    <p *ngIf="score >= 10 && score <= 12 
    && scorePercepSens >= 1
    && scoreUmidade >= 1
    && scoreAtividade >= 1
    && scoreNutricao >= 1
    && scoreMobilidade >= 1
    && scoreFricCis >= 1"
    >Risco alto (10 a 12 pontos)</p>

    <p *ngIf="score <= 9 
    && scorePercepSens >= 1
    && scoreUmidade >= 1
    && scoreAtividade >= 1
    && scoreNutricao >= 1
    && scoreMobilidade >= 1
    && scoreFricCis >= 1"
    >Risco muito alto (9 ou -)</p>


    <ion-button expand="block" color="primary" type="submit">
      <ion-icon name="save" slot="start"></ion-icon>
      Salvar
    </ion-button>
  </form>
  <ion-button expand="block" color="primary" routerLink="/pagina-listar-fichas">
    <ion-icon name="document" slot="start"></ion-icon>
    Exibir fichas criadas
  </ion-button>
</mat-card>
