/* :host {
    display: block;
    margin-top: 1 rem;
} */

mat-paginator {
    margin-top: 2rem;
}

.float{
    padding: 0 6px 0 6px;
}

excluir-button{
    color: red;
}

.excluirButton{
    margin-inline-end: 45%;
}

/* .gerarfichaButton{
    text-align: center;
} */