<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
                <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Pacientes</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-searchbar placeholder="Filtrar pacientes" [(ngModel)]="pesquisa" (ionInput)="filtrarItens()" debounce="100"></ion-searchbar>
<ion-content>
    <mat-accordion multi="true">
        <mat-expansion-panel *ngFor="let paciente of pacientes">
            <mat-expansion-panel-header>
                {{paciente.nome}}
            </mat-expansion-panel-header>
            <p>Nome: {{ paciente.nome }}</p>
            <p>Matrícula: {{ paciente.matricula }}</p>
            <p>Data de nascimento: {{ paciente.dataNascimento | date : "dd.MM.y" }}</p>
            <p>Data de internação: {{ paciente.dataInternacao | date : "dd.MM.y" }}</p>
            <p>Patologia: {{ paciente.patologia }}</p>
            <p>Comorbidades: {{ paciente.comorbidades }}</p>
            <mat-action-row>
                <button class="float" mat-raised-button color="warn" (click)="onDelete(paciente.id)">Excluir</button>
                <div fxFlex></div>
                <a mat-raised-button color="primary" [routerLink]="['/gerarficha', paciente.id]">Gerar ficha</a>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
    <!-- <mat-paginator [length]="totalFichas" [pageSize]="fichasPorPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangePage($event)"
    *ngIf="fichas.length > 0"></mat-paginator> -->
</ion-content>