<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
                <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Estágio da Lesão</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
<mat-card>
    <mat-card-header>
      <mat-card-title>Estágio 3</mat-card-title>
      <mat-card-subtitle>Perda total da espessura da pele</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h4>Estágio 3</h4>
        Perda total da espessura tecidual. Neste caso, o tecido adiposo subcutâneo pode
ser visível, mas não estão expostos os ossos, tendões ou músculos. Pode estar presente
algum tecido desvitalizado (fibrina úmida), mas este não oculta a profundidade da perda
tecidual. Pode incluir lesão cavitária e encapsulamento.<br>
A profundidade de uma úlcera de estágio III varia de acordo com a localização
anatômica. A asa do nariz, orelhas, região occipital e maléolos não têm tecido subcutâneo
(adiposo) e uma úlcera de estágio III pode ser superficial.<br>
Em contrapartida, em zonas com tecido adiposo abundante podem desenvolver-se
úlceras por pressão de estágio III extremamente profundas. O osso e o tendão não são
visíveis ou diretamente palpáveis.
    </mat-card-content>
</mat-card>
</ion-content>