<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
                <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Base de dados</ion-title>
    </ion-toolbar>
</ion-header>
<ion-searchbar placeholder="Filtrar pacientes" [(ngModel)]="pesquisa" (ionInput)="filtrarItens()" debounce="100"></ion-searchbar>
<ion-content>
    <mat-accordion multi="true">
        <mat-expansion-panel *ngFor="let paciente of pacientes">
            <mat-expansion-panel-header>
                {{paciente.nome}}
            </mat-expansion-panel-header>
            <p>Nome: {{ paciente.nome }}</p>
            <p>Matrícula: {{ paciente.matricula }}</p>
            <p>Data de internação: {{ paciente.dataInternacao }}</p>
            <mat-action-row>
                <a mat-raised-button color="primary" [routerLink]= "['/gerargrafico', paciente.matricula]">Ver estatísticas</a>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
    <!-- <canvas id="canvas">{{chart}}</canvas> -->
</ion-content>

<!-- (click)="verStats(paciente.matricula)" -->