<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
                <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Ver estatísticas</ion-title>
        <ion-buttons slot="end">
                <ion-menu-button autoHide="false"></ion-menu-button>
            </ion-buttons>
    </ion-toolbar>
</ion-header>

<div style="height:100%">
    <canvas id="canvas" height="200" width="500">{{chart}}</canvas>
</div>
<!-- <div>
    <p>Nome: {{ nome[0] }}</p>
    <p>Matrícula: {{ matriculaGraf[0] }}</p>
    <p>Data de internação: {{ dataInternacao[0] }}</p>
</div> -->

