<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
                <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Mobilidade</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
<mat-card>
    <mat-card-header>
      <mat-card-title>Mobilidade</mat-card-title>
      <mat-card-subtitle>Capacidade de alterar e controlar a posição do corpo </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h3>1. Completamente imobilizado:</h3>
        Não faz qualquer movimento com o
corpo ou extremidades sem ajuda. 
        <h3>2. Muito limitada:</h3>
        Ocasionalmente muda ligeiramente a
posição do corpo ou das extremidades, mas
não é capaz de fazer mudanças frequentes
ou significativas sozinho. 
        <h3>3. Ligeiramente limitado:</h3>
        Faz pequenas e frequentes alterações de
posição do corpo e das extremidades sem
ajuda.  
        <h3>4. Nenhuma limitação:</h3>
        Faz grandes ou frequentes
alterações de posição do corpo
sem ajuda. 
    </mat-card-content>
</mat-card>
</ion-content>