<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
                <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Umidade</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
<mat-card>
    <mat-card-header>
      <mat-card-title>Umidade</mat-card-title>
      <mat-card-subtitle>Nível de exposição da pele à umidade </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h3>1. Pele constantemente úmida: </h3>
        A pele mantém-se sempre úmida devido à
sudorese, urina, etc. É detectada umidade
sempre que o doente é deslocado ou
virado
        <h3>2. Pele muito úmida:</h3>
        A pele está frequentemente, mas nem
sempre, húmida. Os lençóis têm de ser
mudados pelo menos uma vez por turno. 
        <h3>3. Pele ocasionalmente úmida: </h3>
        A pele está por vezes úmida, exigindo
uma muda adicional de lençóis
aproximadamente uma vez por dia.  
        <h3>4. Pele raramente úmida: </h3>
        A pele está geralmente seca; os
lençóis só têm de ser mudados
nos intervalos habituais. 
    </mat-card-content>
</mat-card>
</ion-content>