<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
                <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Nutrição</ion-title>
        <ion-buttons slot="end">
                <ion-menu-button autoHide="false"></ion-menu-button>
            </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
<mat-card>
    <mat-card-header>
      <mat-card-title>Nutrição</mat-card-title>
      <mat-card-subtitle>Alimentação habitual</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h3>1. Muito pobre: </h3>
        Nunca come uma refeição completa.
Raramente come mais de 1/3 da comida
que lhe é oferecida. Come diariamente
duas refeições, ou menos, de proteínas
(carne ou lacticínios).
Ingere poucos líquidos. Não toma um
suplemento dietético líquido OU está em
jejum e/ou a dieta líquida ou a soros
durante mais de cinco dias.
        <h3>2. Provavelmente inadequada: </h3>
        Raramente come uma refeição completa e
geralmente come apenas cerca de 1/2 da
comida que lhe é oferecida. A ingestão de
proteínas consiste unicamente em três
refeições diárias de carne ou lacticínios.
Ocasionalmente toma um suplemento
dietético OU recebe menos do que a
quantidade ideal de líquidos ou alimentos
por sonda.
        <h3>3. Adequada: </h3>
        Come mais de metade da maior parte das
refeições. Faz quatro refeições diárias de
proteínas (carne, peixe, lacticínios). Por
vezes recusa uma refeição, mas toma
geralmente um suplemento caso lhe seja
oferecido, OU é alimentado por sonda ou
num regime de nutrição parentérica total
satisfazendo provavelmente a maior parte
das necessidades nutricionais.
        <h3>4. Excelente: </h3>
        Come a maior parte das
refeições na íntegra. Nunca
recusa uma refeição. Faz
geralmente um total de quatro
ou mais refeições (carne, peixe,
lacticínios). Come ocasionalmente entre as refeições. Não
requer suplementos. 
    </mat-card-content>
</mat-card>
</ion-content>