<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
                <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Estágios da Lesão</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
<mat-card>
    <mat-card-header>
      <mat-card-title>Estágio 4</mat-card-title>
      <mat-card-subtitle>Perda total da espessura dos tecidos</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h3>Estágio 4</h3>
        Perda total da espessura dos tecidos com exposição dos ossos, tendões ou
músculos. Neste caso, o tecido desvitalizado (fibrina úmida) e/ou tecido necrótico podem
estar presentes.<br>
A profundidade de uma úlcera por pressão de estágio IV varia com a localização
anatômica. Frequentemente são cavitadas e fistulizadas. A asa do nariz, orelhas, região
occipital e maléolos não têm tecido subcutâneo (adiposo) e estas úlceras podem ser
superficiais.<br>
Uma úlcera de estágio IV pode atingir o músculo e/ou estruturas de suporte (i.e.
fáscia, tendão ou cápsula articular), tornando a osteomielite e a osteíte prováveis de
acontecer. Existe osso ou músculo visível ou diretamente palpável.
    </mat-card-content>
</mat-card>
</ion-content>