<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
                <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Ajuda</ion-title>
        <ion-buttons slot="end">
                <ion-menu-button autoHide="false"></ion-menu-button>
            </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
<mat-card>
    <mat-card-header>
      <mat-card-title>Manejo da umidade</mat-card-title>
      <mat-card-subtitle>Manutenção do paciente seco e com a pele hidratada</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Pele úmida é mais vulnerável, propícia ao desenvolvimento de lesões cutâneas, e tende
        a se romper mais facilmente. A pele deve ser limpa, sempre que apresentar sujidade e em
        intervalos regulares. O processo de limpeza deve incluir a utilização cuidadosa de um agente de
        limpeza suave que minimize a irritação e a secura da pele. </p>
        <p>Deve-se tomar cuidado para minimizar a exposição cutânea à umidade decorrente de
        incontinência, transpiração ou exsudato de feridas. Quando estas fontes de umidade não
        puderem ser controladas, a utilização de fraldas e absorventes é recomendada, com o objetivo de
        minimizar o contato da pele com a umidade. Agentes tópicos que atuam como barreiras contra a
        umidade e hidratam a pele também podem ser utilizados.</p>
        <p>O tratamento da pele ressecada com hidratantes tem se mostrado especialmente efetivo
        na prevenção de UPP.
        </p>
        <h3>Procedimento Operacional das medidas preventivas para higiene, hidratação e
        manejo da umidade da pele (Etapa 4).
        </h3>
        <h2>a) Higienização e Hidratação da pele</h2>
        <p>Limpe a pele sempre que estiver suja ou sempre que necessário. É
        recomendada a utilização de água morna e sabão neutro para reduzir a
        irritação e o ressecamento da pele.</p>
        <p>Use hidratantes na pele seca e em áreas ressecadas, principalmente após
        banho, pelo menos 1 vez ao dia (nível de evidência B). A pele seca
        parece ser um fator de risco importante e independente no
        desenvolvimento de úlceras por pressão.</p>
        <p>Durante a hidratação da pele, não massagear áreas de proeminências
        ósseas ou áreas hiperemiadas. A aplicação de hidratante deve ser realizada
        com movimentos suaves e circulares (nível de evidência B)</p>
        <p>A massagem está contra-indicada na presença de inflamação aguda e onde
        existe a possibilidade de haver vasos sanguíneos danificados ou pele
        frágil. A massagem não deverá ser recomendada como uma estratégia de
        prevenção de úlceras por pressão (nível de evidência B)</p>
        <h2>b) Manejo da umidade</h2>
        <p>Proteger a pele da exposição à umidade excessiva através do uso de
        produtos de barreira, de forma a reduzir o risco de lesão por pressão. As
        propriedades mecânicas do estrato córneo são alteradas pela presença de
        umidade, assim como a sua função de regulação da temperatura (nível de
        evidência C)</p>
        <p>Controlar a umidade através da determinação da causa. Usar absorventes
        ou fraldas)6</p>
        <p>Quando possível, oferecer um aparador (comadre ou papagaio) nos
        horários de mudança de decúbito</p>
        <p>Observação: Além da incontinência urinária e fecal, a equipe de enfermagem deve ter atenção a
        outras fontes de umidade, como extravasamento de drenos sobre a pele, exsudato de feridas,
        suor e extravasamento de linfa em pacientes com anasarca que são potencialmente irritantes
        para a pele.
        </p>
    </mat-card-content>
</mat-card>
</ion-content>