<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start">
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/avaliacaoLPP.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Bem vindo</ion-card-subtitle>
      <ion-card-title>Prevenção e Rastreamento da Lesão por Pressão</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Selecione uma das ações abaixo para começar</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Menu</ion-label>
    </ion-list-header>
    <ion-button expand="full" (click)="abrirPagina('pagina-login')" *ngIf="!usuarioIsAutenticado">
      <ion-icon name="log-in" slot="start"></ion-icon>
      Login
    </ion-button>
    <ion-button expand="full" (click)="abrirPagina('pagina-cadastro')" *ngIf="!usuarioIsAutenticado">
      <ion-icon name="filing" slot="start"></ion-icon>
      Cadastro
    </ion-button>
    <!-- <ion-button expand="full" (click)="abrirPagina('pagina-ficha-avaliacao')" *ngIf="usuarioIsAutenticado">
      <ion-icon name="clipboard" slot="start"></ion-icon>
      Ficha de Avaliação de Risco
    </ion-button> -->
    <ion-button expand="full" (click)="abrirPagina('pagina-cadastro-pacientes')" *ngIf="usuarioIsAutenticado">
      <ion-icon name="clipboard" slot="start"></ion-icon>
      Cadastrar novo paciente
    </ion-button>
    <ion-button expand="full" (click)="abrirPagina('pagina-listar-pacientes')" *ngIf="usuarioIsAutenticado">
      <ion-icon name="filing" slot="start"></ion-icon>
      Ver pacientes cadastrados
    </ion-button>
    <ion-button expand="full" (click)="abrirPagina('pagina-listar-fichas')" *ngIf="usuarioIsAutenticado">
      <ion-icon name="document" slot="start"></ion-icon>
      Exibir fichas
    </ion-button>
    <ion-button expand="full" (click)="abrirPagina('pagina-base-dados')" *ngIf="usuarioIsAutenticado">
      <ion-icon name="analytics" slot="start"></ion-icon>
      Estatísticas
    </ion-button>
    <ion-button expand="full" (click)="abrirPagina('pagina-ajuda-escala')" *ngIf="usuarioIsAutenticado">
      <ion-icon name="help" slot="start"></ion-icon>
      Ajuda
    </ion-button>
    <ion-button expand="full" *ngIf="usuarioIsAutenticado" (click)="onLogout()">
      <ion-icon name="log-in" slot="start"></ion-icon>
      Logout(sair)
    </ion-button>
    <!-- <ion-button expand="full" (click)="abrirPagina('pagina-desenvolvedor')" *ngIf="usuarioIsAutenticado">
      <ion-icon name="construct" slot="start"></ion-icon>
      Desenvolvedor
    </ion-button> -->
  </ion-list>
</ion-content>