<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
                <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Fricção e forças de deslizamento</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
<mat-card>
    <mat-card-header>
      <mat-card-title>Fricção e forças de deslizamento</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <h3>1. Problema: </h3>
        Requer uma ajuda moderada a máxima
para se movimentar. É impossível
levantar o doente completamente sem
deslizar contra os lençóis. Descai
frequentemente na cama ou cadeira,
exigindo um reposicionamento constante
com ajuda máxima. Espasticidade,
contraturas ou agitação levam a fricção
quase constante. 
        <h3>2. Problema potencial: </h3>
        Movimenta-se com alguma dificuldade ou
requer uma ajuda mínima. É provável que,
durante uma movimentação, a pele deslize
de alguma forma contra os lençóis, cadeira,
apoios ou outros dispositivos. A maior
parte do tempo, mantém uma posição
relativamente boa na cama ou na cadeira,
mas ocasionalmente descai. 
        <h3>3. Nenhum problema:</h3>
        Move-se na cama e na cadeira sem ajuda
e tem força muscular suficiente para se
levantar completamente durante uma
mudança de posição.
Mantém uma correta posição na cama ou
cadeira.
    </mat-card-content>
</mat-card>
</ion-content>