<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<mat-card>
  <mat-card>
    <h3>Cadastro</h3>
  </mat-card>
  <form (submit)="onCadastro(cadastroForm)" #cadastroForm="ngForm">
    <!-- <div class="formfield"> 
      <mat-form-field>
        <input
          matInput
          name="nome"
          ngModel
          type="text"
          placeholder="Nome"
          #nomeInput="ngModel"
          required
          email
        />
        <mat-error *ngIf="nomeInput.invalid"
          >Entre com um nome válido</mat-error
        >
      </mat-form-field>
    </div>
  <div class="formfield"> 
      <mat-form-field>
        <input
          matInput
          name="matricula"
          ngModel
          type="number"
          placeholder="Matrícula"
          #matriculaInput="ngModel"
          required
          email
        />
        <mat-error *ngIf="matriculaInput.invalid"
          >Entre com uma matrícula</mat-error
        >
      </mat-form-field>
    </div>
    <div class="formfield"> 
        <mat-form-field>
          <input
            matInput
            name="unidade"
            ngModel
            type="text"
            placeholder="Unidade Hospitalar"
            #unidadeInput="ngModel"
            required
            email
          />
          <mat-error *ngIf="unidadeInput.invalid"
            >Entre com uma unidade hospitalar válida</mat-error
          >
        </mat-form-field>
      </div> -->
     <div class="formfield"> 
      <mat-form-field>
        <input
          matInput
          name="email"
          ngModel
          type="email"
          placeholder="E-Mail"
          #emailInput="ngModel"
          required
          email
        />
        <mat-error *ngIf="emailInput.invalid"
          >Entre com um email válido</mat-error
        >
      </mat-form-field>
    </div>
    <mat-form-field>
      <input
        matInput
        name="senha"
        ngModel
        type="password"
        placeholder="Senha"
        #senhaInput="ngModel"
        required
      />
      <mat-error *ngIf="senhaInput.invalid"
        >Senha inválida</mat-error
      >
    </mat-form-field>
    <ion-button expand="block" color="primary" type="submit">
      Cadastro
    </ion-button>
  </form>
</mat-card>
