<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
                <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Estágios da Lesão</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
<mat-card>
    <mat-card-header>
      <mat-card-title>Estágio 1</mat-card-title>
      <mat-card-subtitle>Eritema não branqueável</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h3>Estágio 1</h3>
        Pele intacta, com rubor não branqueável, numa área localizada, normalmente
sobre uma proeminência óssea.<br>
    O estágio I pode ser difícil de identificar em indivíduos com tons de pele escuros,
visto que nestes o branqueamento pode não ser visível, a sua cor, porém, pode ser diferente
da pele ao redor. A área pode estar dolorida, endurecida, mole, mais quente ou mais fria
comparativamente ao tecido adjacente. Este estágio pode ser indicativo de pessoas “em
risco”.
    </mat-card-content>
</mat-card>
</ion-content>