<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
                <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Ajuda</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
<mat-card>
    <mat-card-header>
      <mat-card-title>Atividade</mat-card-title>
      <mat-card-subtitle>Nível de atividade física </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h4>1. Acamado: </h4>
        O doente está confinado à cama. 
        <h4>2. Sentado: </h4>
        Capacidade de marcha gravemente limitada
ou inexistente. Não pode fazer carga e/ou
tem de ser ajudado a sentar-se na cadeira
normal ou de rodas.
        <h4>3. Anda ocasionalmente:</h4>
        Por vezes caminha durante o dia, mas
apenas curtas distâncias, com ou sem
ajuda. Passa a maior parte dos turnos
deitado ou sentado. 
        <h4>4. Anda frequentemente:</h4>
        Anda fora do quarto pelo menos
duas vezes por dia, e dentro do
quarto pelo menos de duas em
duas horas durante o período
em que está acordado
    </mat-card-content>
</mat-card>
</ion-content>